body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}
.common-button {
  background-color: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  border: 0;
  padding: 20px 40px;
}

.header {
  background-color: rgba(229, 84, 115, 0.1);
}

.banner {
  position: relative;
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content {
  max-width: 700px;
}
.banner-title {
  color: #272727;

  font-size: 80px;

  font-weight: 800;
}
.banner .banner-flower {
  width: 600px;
  height: 800px;
}

.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

/* First section style */

.first-section {
  text-align: center;
}
.frst-section-title {
  color: #272727;
  text-align: center;
  font-size: 40px;

  font-weight: 800;
}

.first-title {
  margin-top: 200px;
  margin-bottom: 24px;
}
.frst-sec-statement {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.first-para {
  text-align: center;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;

  margin: 0;

  height: 60px;
  width: 600px;
}

/* second section design */

.scnd-section-div {
  margin-left: 240px;
  margin-right: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  padding-top: 100px;
  height: 450px;
  width: 520px;
  border-radius: 300px 300px 0px 0px;
  margin: 20px;
}

#item1 {
  background-color: rgba(167, 33, 98, 0.15);
  background-image: url("./Flower Asset/pngwing\ 6.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 300px 400px;
  padding-top: 100px;
}
#item2 {
  background-color: rgba(5, 151, 160, 0.15);
  background-image: url("./Flower Asset/pngwing\ 5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 370px 370px;
  padding-top: 100px;
}
#item3 {
  background-color: rgba(71, 125, 17, 0.15);
  background-image: url("./Flower Asset/pngwing\ 7.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 310px 470px;
  padding-top: 100px;
}

.name {
  color: #272727;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
.item-name {
  display: flex;
  justify-content: space-around;
}
#name1 {
  margin-left: 240px;
}

#name3 {
  margin-right: 240px;
}

/* Second Last */
.second-last {
  border: 8px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  position: relative;
  padding: 100px 400px 100px 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 100px;
}

.last-banner-title {
  color: #272727;

  font-size: 40px;

  font-weight: 800;
}
.last-banner-describtion {
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.last-banner-flower {
  height: 420px;
  width: 310px;
}
.last-banner-content {
  max-height: 600px;
}

/* Instagram-sec */

.instagram-sec {
  text-align: center;
}

.insta-flower-container {
  display: flex;
  justify-content: center;
  margin-left: 230px;
  margin-right: 230px;
  margin-bottom: 120px;
}

.insta-flower-container img {
  margin: 10px;
  height: 350px;
  width: 300px;
}
/* last-last */
.last-last {
  height: 450px;
  width: 1400px;
  border-radius: 8px;
  background-image: url("./Flower Asset/Rectangle\ 9.png");
  background-size: cover;
  margin-bottom: 100px;
}

.int-bnt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-instagram-sec {
  margin-top: 0;
  padding-top: 1px;
  padding-left: 240px;
  padding-right: 240px;
  text-align: center;
}
.input {
  width: 700px;
  height: 64px;
  margin-left: 300px;
  border-radius: 8px;
  background: #fff;
}
.last-first-title {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 24px;
}
.last {
  display: flex;
  justify-content: center;
}

/* footer */

.footer {
  text-align: center;
  background-color: #111010;
}
.last-title {
  padding-top: 100px;
  /* margin-top: 100px; */
  color: #e55473;

  font-size: 48px;

  font-weight: 800;
}
.last-color {
  color: white;
}
.last-para {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;

  font-size: 18px;

  font-weight: 400;
  line-height: 30px;
}
.last-line {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;

  font-size: 16px;

  font-weight: 400;
  padding-bottom: 120px;
}

/* extra */

.extra-sec {
  text-align: center;
}
.extra-para {
  color: rgba(143, 133, 144, 0.9);
  text-align: center;

  font-size: 18px;

  font-weight: 400;
  line-height: 30px;
}
.extra-h3 {
  color: rgb(243, 115, 137);
}
.last-change {
  border-width: 100px;
  height: 100px;
  border-radius: 30%;
}
